.home {
    position: relative;
    top: -96px;
}

.header-home {
    @apply text-white flex flex-col justify-start items-center;
    height: 100vh;
    background-image: 
        linear-gradient(to top right, rgba(228, 221, 221, 0.50) 10%, rgba(0, 0, 0, 0.50) 60%), 
        url(../images/smartphones-banner.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-title {
    @apply font-semibold mt-40;
}

.hero-subtitle {
    @apply font-light;
}

.hero-button {

}

.products {
    @apply grid grid-cols-3 p-10 bg-gray-200;
}

.card {
    @apply bg-white h-96 w-52 rounded;
}

.card-image {
    @apply h-40 w-full;
}

.card-image > img {
    @apply w-full h-full;
}

.card-body {
    @apply h-40 w-full;
}

.card-footer {
    @apply h-16 w-full;
}