.landing-page {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 96px 1fr 0.5fr 65px;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "sub-footer" "footer";
}

/* HEADER */

.header {
  @apply z-50 px-5 lg:px-10 fixed bg-white bg-opacity-0;
  grid-area: header;
  height: 96px;
  width: 100%;
}

.header-content {
  @apply flex w-full h-full place-content-between items-center
}

.header .shadow {
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.logotipo > img {
  @apply w-24 sm:w-28 md:w-36 lg:w-48 min-w-max;
}

.header-nav {
  @apply hidden md:block;
}

.header-nav > ul {
  @apply flex flex-row list-none md:space-x-3 lg:space-x-6 text-indigo-700 text-base font-medium;
}

.header-nav > ul a {
  @apply py-2 px-3 rounded hover:bg-indigo-100;
}

.list-menu {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: ease-in 150ms;
  -moz-transition: ease-in 150ms;
  -o-transition: ease-in 150ms;
  transition: ease-in 150ms
}

.list-menu.active {
  @apply flex justify-center pt-10 fixed z-40 w-full h-full bg-indigo-500 text-white;
  visibility: visible;
  opacity: 1;
  margin-top: 96px;
  -webkit-transition: ease-out 150ms;
  -moz-transition: ease-out 150ms;
  -o-transition: ease-out 150ms;
  transition: ease-out 150ms
}

.list-menu > ul {
  @apply flex flex-col font-semibold space-y-6 justify-start items-center;
}

.burger-toggle {
  @apply select-none md:hidden;
  width: 20px;
  height: 15px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.burger-toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #3730A3;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.burger-toggle span:nth-child(1) {
  top: 0px;
}

.burger-toggle span:nth-child(2) {
  top: 6px;
}

.burger-toggle span:nth-child(3) {
  top: 12px;
}

.burger-toggle.on span:nth-child(1) {
  top: 6px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.burger-toggle.on span:nth-child(2) {
  opacity: 0;
  left: -20px;
}

.burger-toggle.on span:nth-child(3) {
  top: 6px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* MAIN */

.main {
  @apply bg-gray-100;
    grid-area: main;
    height: 100%;
    width: 100%;
    font-size: xx-large;
}

/* FOOTER */

.footer {
  @apply flex py-10 px-5 lg:px-10 justify-center items-center relative border-t-4 border-indigo-800;
  grid-area: sub-footer;
  height: 100%;
  width: 100%;
}

.footer > ul {
  @apply flex flex-col sm:flex-row sm:space-x-32 md:space-x-40 lg:space-x-60;
}

.footer > ul li {
  @apply flex flex-col mb-3 sm:mb-0 justify-start items-center sm:justify-start sm:items-start;
}

.footer > ul li h4 {
  @apply mb-1 text-indigo-900 text-base font-medium;
}

.footer > ul li a {
  @apply mb-2 text-gray-600 text-sm font-normal;
}

.sub-footer {
  @apply flex justify-between items-center px-5 lg:px-10 border-t border-gray-300 bg-white text-gray-600;
  grid-area: footer;
  height: 65px;
  width: 100%;
}

.dots-pattern {
  background-image: url(../images/dots-pattern.svg);
  /* background-repeat: repeat-x; */
  width: 100%;
  height: 18px;
  position: absolute;
  top: 3px
}